RewriteEngine on
RewriteCond %{REQUEST_URI} ^/StratWars/(?:[a-zA-Z0-9]+)(?:/?(?:[a-zA-Z0-9?=&]+)?)*$ 
RewriteRule ([a-zA-Z0-9]+)/?([a-zA-Z0-9?=&]+)?/?((?:/?(?:[a-zA-Z0-9]+)?)*) /StratWars/?controller=$1&method=$2&params=$3
