#SquadBoard {
	width: 700px;
	height: 100%;
	background-image: url('./images/texture.png');
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 10px black;
	border-radius: 2px;
}

#SquadArea {
	display: flex;
	flex-direction: column;
	height: 80%;
	width: 95%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}

#SquadUnitStats {
	background-image: url('./images/texture.png');
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 10px black;
	border-radius: 2px;
}

.SquadLine {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 34%;
}

.SquadUnitPosition {
	height: 80%;
	width: 20%;
	margin: 2%;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.8);
}

.SquadUnitEmplacement {
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.SquadSocle {
	margin-top: -62.5px;
	position: relative;
 	width: 95px;
 	height: 95px;
 	background-color: rgba(255, 255, 255, 0.95);
 	border-radius: 50%;
 	border: 5px solid rgb(75, 75, 75);
 	transform: rotate3d(1, 0, 0, 65deg);
 	box-shadow: 0 10px 2px black;
 	z-index: 1;
}

#SquadUnitList {
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.5);
	width: 630px;
	padding: 20px;
	position: absolute;
	left: calc(50% - 335px);
	z-index: 10;
}

.SquadUnitListItem {
	width: 48%;
	height: 140px;
	background-image: url('./images/texture.png');
	box-shadow: 0 0 10px black;
}

.SquadUnitPaging {
	display: flex;
}

.SquadUnitImage {
	width: 100px;
}

.SquadUnitListItemInfos {
	display: flex;
	flex-direction: column;
	width: 185px;
}

.SquadUnitListItemInfos1 {
	display: flex;
	flex-wrap: wrap;
}